<u><b>what exactly is a coffee Brazil?</b> </u>

A coffee blend is a coffee that is made up of coffee beans originating from more
than one place. “Place” here does not mean just different countries. This can
mean a very micro-level division of place such as varying altitudes on the same
producing farm, or it can mean different regions of the same country or
different small areas within the same producing region. From here, as you can
guess, coffee blends come in many shapes and forms. From commercial coffee
blends found in coffee chains, to ‘single origin’ coffees that one assumes are
only one type of coffee, the phrase “coffee blend” is all-encompassing, though
this is often miscommunicated.

A coffee blend as we produce it here at the roastery can be seen almost like a
recipe where we combine different flavours to strike overall balance, while
producing complexity of flavour. Blends are where we create the perfect taste
potential for a set market preference / specific customer demand / bespoke
brewing method, allowing the end user to brew it in an accessible way at home or
in service.

We ensure we include all of the components of our blends on our bag labels. Each
coffee origin, specific farm / processing station name and the country of origin
are detailed to allow consumers full transparency. The different origins that
make up a blend are on the label, to help customers understand what has gone
into that specific coffee blend.
